/* css styles */
body {
  background-image: url(https://images.pexels.com/photos/2088205/pexels-photo-2088205.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-repeat: no-repeat;
  background-position: center top;
}
  
  h1 {
    font-size: 70px;
    background-attachment: scroll;
  }

  h2 {
    }
  }
  
  p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(38, 12, 50, 0.4);
    color: rgb(219, 219, 226);
    margin: 25px 50px 75px 100px
  }